@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: "Poppins", sans-serif;
}

/* Main Nav */
.mainNavBar {
  width: 100%;
  background-color: #1b1b1b;
  align-content: center;
}

.navContent {
  padding: 1rem;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(to right, #dddb4c 40%, #dddb4c 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navContent ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navContent li a {
  margin: 0 10px;
  color: #dddb4c;
  opacity: 60%;
  text-decoration: none;
}

.navContent a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navContent a:hover {
  color: #78cc18;
}

/* Content */
.wrapper {
  background-color: #1b1b1b;
  padding: 5%;
}

.description button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #f3f5f3;
  background: linear-gradient(to right, #78cc18 0%, #624cdd 60%);
  border-radius: 10px;
  border-color: none;
}

.description buttver {
  background-color: #4caf50;
  color: white;
}

.landingPage {
  padding-bottom: 10%;
}

.topline {
  position: relative;
  font-size: 2rem;
  letter-spacing: 5px;
  color: #f3f5f3;
  text-transform: uppercase;
}

.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  background-color: #78cc18;
}

.multiText {
  background: linear-gradient(to right, #78cc18 0%, #78cc18 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-weight: 600;
}

/* Project Cards */
.wrapper2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 4%;
}

.project {
  text-align: center;
  padding: 50px 0;
}

.project h2 {
  margin-bottom: 20px;
}

.wrapper2 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 20px; /* Adjust spacing between cards */
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card:hover {
  transform: translateY(-5px); /* Lift card slightly on hover */
}

.card .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .icon {
  color: white;
  background: #223;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card .description {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .description {
  opacity: 1;
  transform: translateY(0);
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
  padding: 5%;
}

/* About Me */
.AboutMe {
  width: 100%;
  background-color: #1b1b1b;
  justify-content: center;
  display: block;
}

h1 {
  color: #f3f5f3;
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
  background: linear-gradient(to right, #dddb4c 0%, #dddb4c 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-weight: 600;
}

h3 {
  color: #78cc18;
  font-size: 1.25rem;
  font-weight: 100;
}
h4 {
  background: linear-gradient(to right, #dddb4c 0%, #dddb4c 60%);
  padding-left: 5px;
  color: #f3f5f3;
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  color: #f3f5f3;
  font-size: 1.2rem;
  font-weight: 100;
}
p {
  color: #f3f5f3;
  font-size: 1.5rem;
}
.mainDisplay div {
  padding-bottom: 2%;
}

/* Projects */
.project {
  max-width: 100%;
  background-color: #1b1b1b;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projects-container img {
  height: 20rem;
  border-radius: 10%;
}
.projectDisply {
  justify-content: center;
  text-align: center;
  margin: 5%;
}
.title2 {
  text-align: center;
}
.project h2,
.project h3 {
  justify-content: center;
}

/* Footer */
.footer {
  text-align: center;
  width: 100%;
  background: linear-gradient(to right, #1b1b1b 0%, #1b1b1b 60%);
  padding: 2rem;
}

.footer h3 {
  padding-bottom: 5%;
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: 600;
}

.flexDisplay {
  display: flex;
  justify-content: space-evenly;
}

.footer h5,
.footer a {
  color: #f1f1f1;
  font-size: 1rem;
  font-weight: 100;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.projectDisply {
  position: relative;
  overflow: hidden;
}

.projectDisply img {
  transition: transform 0.3s ease;
}

.projectDisply:hover img {
  transform: rotate(3deg);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 968px) {
  .logo {
    width: 100%;
    padding: 5%;
    font-size: 3.5rem;
  }

  .navContent {
    display: none;
  }

  .landingPage {
    width: 100%;
  }

  .wrapper2 {
    flex-direction: column;
  }

  .projects-container {
    display: column;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .footer h5 {
    display: none;
  }
  .card {
    width: 80%;
    margin: 5% auto;
  }

  .description {
    height: auto;
    width: 90%;
    padding: 10px;
  }

  input:checked + label {
    width: 90%;
  }

  .footer {
    padding: 10px;
  }

  .AboutMe {
    padding-left: 5%;
    padding-right: 5%;
  }
  p {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
    padding-top: 5%;
  }
  .card p {
    font-size: 16px;
  }
}
